.player {
  display: flex;
  align-items: center;
  background-color: #f9a845;
  width: auto;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 2px solid #995200;
  border-right: 0;

  span {
    font-size: 2rem;
    margin: 0 2rem;
    color: #000000;
  }

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}
