.startscreen {
  background: url("../../assets/img/bg_start.png") repeat;
  background-size: 250px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;

  img {
    height: 50vh;
  }

  a {
    background-color: #004822;
    padding: 0 10px 5px 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;

    &:hover {
      color: #8ad9d7;
      background-color: #00482283;
    }
  }
}
